.gridpanel {
	padding: 40px 0;  color: #5d5f68;    font-size:$font-size-14; line-height:25px;
	ul{
		float:right;
		li{
			float:left;margin:0 0 0 7px;
			a{
				display:block;	 width:25px; height:25px;	 background: url("../images/grid-menu.png") no-repeat;
			}
		}
		li.list {
			a{background-position:0 -33px;}
		}
		li.active.list {
			a{background-position:0 0;}
		}
		li.grid {
			a{background-position:-37px 0;}
		}
		li.active.grid {
			a{background-position:-37px -33px;}
		} 
	}
}

.proitem{position: relative;    perspective: 800px;    width:100%;    height:500px;    @include transform-style(preserve-3d);     @include transition(transform 5s);	float:left; @include transition(width 500ms ease-in-out);}
.probx {width:100%; height:500px; overflow:hidden; position:relative;@include transition(all 100ms ease-out);  transform-style: preserve-3d; margin:0 0 15px 0;}
.probx.animate {box-shadow:0px 5px 31px -1px rgba(0, 0, 0, 0.15);}
.probx.flip10{@include transform(rotateY(-10deg)); @include transition(50ms ease-out);}
.probx.flip90{@include transform(rotateY(90deg)); @include transition(100ms ease-in);}
.probx.flip190{@include transform(rotateY(190deg)); @include transition(100ms ease-out);}
.probx.flip180{@include transform(rotateY(180deg)); @include transition(150ms ease-out);}

.frontbx, .backbx  {width:100%; height:500px; overflow:hidden; position:relative;@include transition(all 100ms ease-out); position:absolute; left:0; right:0;}
.backbx {display:none;@include transform(rotateY(180deg));}
.shadow{	width:100%;height:500px;	opacity:0;	position:absolute;	top:0;	left:0;	z-index:3;	display:none;
	background: -webkit-linear-gradient(left,rgba(0,0,0,0.1),rgba(0,0,0,0.2));
    background: -o-linear-gradient(right,rgba(0,0,0,0.1),rgba(0,0,0,0.2)); 
    background: -moz-linear-gradient(right,rgba(0,0,0,0.1),rgba(0,0,0,0.2)); 
    background: linear-gradient(to right, rgba(0,0,0,0.1), rgba(0,0,0,0.2)); 
}
.backbx .shadow{	z-index:10;	opacity:1;
	background: -webkit-linear-gradient(left,rgba(0,0,0,0.2),rgba(0,0,0,0.1));
    background: -o-linear-gradient(right,rgba(0,0,0,0.2),rgba(0,0,0,0.1)); 
    background: -moz-linear-gradient(right,rgba(0,0,0,0.2),rgba(0,0,0,0.1)); 
    background: linear-gradient(to right, rgba(0,0,0,0.2), rgba(0,0,0,0.1)); 
}


.frontbx:after{position:absolute; content:"";left:0;right:0;top:0;bottom:0;background:$color-7;}
.frontbx:after, .frontbx .btnbx {opacity:0;@include transition(all 200ms ease-out);}
.frontbx:hover:after{opacity:0.7;}
.frontbx img {width:100%;}
.frontbx .text{padding:30px 35px; background:#fff; position:absolute; top:410px; left:0; right:0; z-index:1;@include transition(all 200ms ease-out);}
.frontbx:hover .text {top:290px;}
.frontbx span, .frontbx small {display:block;}
.frontbx span {color:$color-8; font-weight:700; font-size:font-size-15; text-transform:uppercase; }
.frontbx small{font-size:font-size-15;color:$color-4; padding:5px 0 15px 0;}
.frontbx strong{float:right;color:$color-7;font-size:$font-size-22; font-weight:600;}
.frontbx .des {padding:5px 0 30px 0;}
.frontbx .size i {font-style:normal;}
.frontbx .size i:hover {color:#222;}
.colorview i{position:relative;	border-radius:100%;	background:#eae3d3;	width:13px;	height:13px;@include transition(all 100ms ease-out); @include transform(scale(1.0)); float:left; margin:0 5px 0 0}
.colorview i:hover{@include transition(all 100ms ease-out);@include transform(scale(1.3)); }
.frontbx .btnbx {position:absolute;top:80px; z-index:2; left:0; right:0; text-align:center;}
.frontbx .btnbx .btn {margin:10px 0;}
.frontbx:hover .btnbx{opacity:1;}
