body{font-family:$font-family;font-size:$font-size-15;background:$color-9;}
h3 {color: $color-6;text-transform: uppercase;    font-size: $font-size-14;    font-weight: 700;    padding: 35px 0 10px 0;    letter-spacing: 1px; clear:both}
.leftcol {padding:13px 0 0 45px; width:320px; float:left;}
.rightcol {margin-left:330px;padding-right:15px;}
.rightcol:after{ @include border(1px, #eeeeee, 'left'); position:absolute; content:''; left:320px;bottom:0;top:0;}
.fullcol {width:100%; float:left;}
@media (max-width:767px){
	.leftcol {padding:13px 15px 30px; width:auto; float:none; }
	.rightcol {padding:0px; margin-left:0;}
	.rightcol:after{display:none;}
}









