/* fonts property */
$font-size-22:22px;
$font-size-16:16px;
$font-size-15:15px;
$font-size-14:14px;
$font-family: "Open Sans", sans-serif;


/* colors */
$color-1:#000;
$color-2:#676a74;
$color-3:#222;
$color-4:#b1b1b3;
$color-5:#333;
$color-6:#262626;
$color-7:#5ff7d2;
$color-8:#393c45;
$color-9:#fff;
$color-10:#fffeb0;
$color-11:#eee;


/* border colors */
$b-1:#eee;